# Ignore generated simulation files
*/gen/
*/*.log
*/*.jou
*/*.pb
*/*.wdb
*/*.pdf
*/*.str
*/*.bin
*/*.hex
*/*.elf
*/*.o
*/*.str
*/xsim.dir/
*.log
*.jou
*.pb
*.wdb
*.pdf
*.str
*.bin
*.hex
*.elf
*.vcd
*.o